<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title th:fragment="title" th:text="#{app.title} + ' | ' + #{deprecated.products.list.title}"></title>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" th:fragment="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="#{deprecated.products.list.title}">Products</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{deprecated.products.list.description}"></h3>

                                <div class="card-tools">
                                    <form class="input-group input-group-sm" th:action="@{/deprecated/product/list/paginated}" method="get" th:object="${pageListRequest}">
                                        <input type="text" th:field="*{name}" class="form-control" placeholder="Name">
                                        <input type="text" th:field="*{category}" class="form-control" placeholder="Category">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="productsList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr th:with="path='/deprecated/product/list/paginated?'">
                                            <th>ID</th>
                                            <th th:replace="fragments/table :: columnHeader(path=${path},
                                                                                pageListRequest = ${pageListRequest},
                                                                                message = #{deprecated.products.column.name},
                                                                                property = 'name')"></th>
                                            <th th:replace="fragments/table :: columnHeader(path=${path},
                                                                                pageListRequest = ${pageListRequest},
                                                                                message = #{deprecated.products.column.category},
                                                                                property = 'category')"></th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="deprecatedProduct: ${pageListRequest.content}">
                                            <td th:text="${deprecatedProduct.id}">Id</td>
                                            <td th:text="${deprecatedProduct.name}">Name</td>
                                            <td th:text="${deprecatedProduct.category}">Category</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div th:replace="fragments/table :: tableFooter(path='/deprecated/product/list/paginated?', pageListRequest = ${pageListRequest})"></div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <th:block th:fragment="pageCustomScript">
    </th:block>


</html>