<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:fragment="title" th:text="#{app.title} + ' | ' +
                                        (${documentHeader.type == T(gr.aueb.dmst.simplinvoice.enums.DocumentType).ISSUED} ? #{document.issue.page.title} : #{document.receive.page.title})"></title>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" th:fragment="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="#{document.summary.title}">Invoice</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="callout callout-danger no-print" th:unless="${#lists.isEmpty(documentHeader.myDataErrorsList)}">
        <h5 th:text="#{document.summary.mydata.error}"></h5>
        <p th:text="${error}" th:each="error :${documentHeader.myDataErrorsList}"></p>
    </div>

    <section class="content" th:with="isIssued=${documentHeader.type == T(gr.aueb.dmst.simplinvoice.enums.DocumentType).ISSUED}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">

                        <th:block th:if="${isIssued}">
                            <th:block th:replace="fragments/documentSummaryFragment :: documentIssueSummary(documentHeader=${documentHeader})"></th:block>
                        </th:block>
                        <th:block th:unless="${isIssued}">
                            <th:block th:replace="fragments/documentSummaryFragment :: documentReceiveSummary(documentHeader=${documentHeader})"></th:block>
                        </th:block>


                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                <a th:if="${isIssued && documentHeader.authenticationCode != null}" th:href="@{/document/issue/summary/public/__${documentHeader.authenticationCode}__}" rel="noopener" target="_blank" class="btn btn-default" th:inline="text">
                                    <i class="fas fa-eye"></i> [[#{document.summary.view.public}]]
                                </a>
                                <button type="button" id="pdfBtn" class="btn btn-primary float-right" th:inline="text">
                                    <i class="fas fa-file-pdf"></i> [[#{document.summary.generate.pdf}]]
                                </button>
                                <a th:if="${documentHeader.mydataXml}" th:href="@{/document/download/mydata/xml/__${documentHeader.id}__}" id="myDataBtn" class="btn btn-success float-right" style="margin-right: 5px;" th:inline="text">
                                    <i class="fas fa-file-code"></i> [[#{document.summary.download.mydata.xml}]]
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block th:fragment="pageCustomScript">
    <script>
        $( "#pdfBtn" ).click(function() {
            window.print()
        });

    </script>
</th:block>

</html>