<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:fragment="title" th:text="#{app.title} + ' | ' + #{document.issue.page.title}"></title>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" th:fragment="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="#{document.summary.title}">Invoice</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">

                        <th:block th:replace="fragments/documentSummaryFragment :: documentSummary(documentHeader=${documentHeader})"></th:block>

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                                <a th:href="@{/document/issue/summary/public/__${documentHeader.authenticationCode}__}" rel="noopener" target="_blank" class="btn btn-default" th:inline="text"><i class="fas fa-eye"></i> [[#{document.summary.view.public}]]</a>
                                <button type="button" id="pdfBtn" class="btn btn-primary float-right" style="margin-right: 5px;" th:inline="text">
                                    <i class="fas fa-download"></i> [[#{document.summary.generate.pdf}]]
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block th:fragment="pageCustomScript">
    <script>
        $( "#pdfBtn" ).click(function() {
            window.print()
        });
    </script>
</th:block>

</html>