<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:fragment="title" th:text="#{app.title} + ' | ' + #{document.issue.page.title}"></title>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" th:fragment="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" th:text="#{document.issue.page.title}">Document</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div th:if="${modelError}" class="alert alert-danger alert-dismissible" th:inline="text">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class="icon fas fa-ban"></i> [[#{alert.message.title}]]</h5>
                        [[${modelError}]]
                    </div>

                    <!-- Horizontal Form -->
                    <form id="createForm" class="form-horizontal" th:action="@{/document/issue/save}" th:object="${documentHeader}" method="post">

                        <!-- Invoice Info  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.issue.invoice.details}">Invoice</h3>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputDocumentSeries" th:text="#{document.issue.invoice.series}">Series</label>
                                            <select id="inputDocumentSeries" class="form-control select2" required name="documentSeries">
                                                <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                <option th:each="documentSeries : ${documentSeriesList}"
                                                        th:attr="data-documentSeriesLastNumber=${documentSeries.lastNumber}"
                                                        th:value="${documentSeries.id}" th:text="${documentSeries.code + ' - ' + documentSeries.name}">option 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputDocumentNumber" th:text="#{document.issue.invoice.number}">Country</label>
                                            <input type="number" class="form-control" th:id="inputDocumentNumber" th:placeholder="#{document.issue.invoice.number}" readonly th:field="*{number}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:text="#{document.issue.date}">Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask th:field="*{date}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputPaymentMethod" th:text="#{document.issue.payment.method}">Payment Method</label>
                                            <select id="inputPaymentMethod" class="form-control select2" required name="paymentMethod">
                                                <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                <option th:each="paymentMethod : ${T(gr.aueb.dmst.simplinvoice.enums.DocumentPaymentMethod).values()}"
                                                        th:value="${paymentMethod}" th:text="#{'payment.method.' + ${paymentMethod.name()}}">option 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputVatExemptionType" th:text="#{document.issue.vat.exemption.type}">Payment Method</label>
                                            <select id="inputVatExemptionType" class="form-control select2" name="vatExemptionType">
                                                <option th:value="${null}" th:text="#{document.issue.vat.exemption.type.none}"></option>
                                                <option th:each="vatExemptionType : ${T(gr.aueb.dmst.simplinvoice.enums.VatExemptionType).values()}"
                                                        th:value="${vatExemptionType}" th:text="#{'aade.vat.exemption.' + ${vatExemptionType.name()}}">option 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputCurrency" th:text="#{document.issue.currency}">Payment Method</label>
                                            <input type="text" id="inputCurrency" class="form-control" maxlength="3" required th:field="*{currency}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputDocumentNotes" class="col-sm-2 col-form-label" th:text="#{document.issue.notes}">Notes</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputDocumentNotes" rows="3" th:placeholder="#{document.issue.notes}" th:field="*{notes}"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Counterpart  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.counterpart.details}">Counterpart</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <select id="inputCounterPart" class="form-control select2" required name="counterPart">
                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                            <option th:each="trader : ${tradersList}"
                                                    th:value="${trader.id}" th:text="${trader.code + ' - ' + trader.name}">option 1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="counterPartEmail" th:text="#{email.field}">Email</label>
                                            <input type="email" class="form-control" id="counterPartEmail" th:placeholder="#{email.field}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="counterPartName" th:text="#{trader.name.field}">Email</label>
                                            <input type="text" class="form-control" id="counterPartName" th:placeholder="#{trader.name.field}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Items  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.material.details}">Material</h3>
                            </div>

                            <div class="card-body" id="documentItems">
                                <div class="row d-flex align-items-stretch">
                                    <div class="col-12 align-items-stretch" th:each="documentItem, itemStat: ${documentHeader.documentItems}">
                                        <div class="card bg-light">
                                            <input type="hidden" th:value="${itemStat.index + 1}" th:field="${documentHeader.documentItems[__${itemStat.index}__].lineNumber}">
                                            <div class="card-header text-muted border-bottom-0" th:inline="text">
                                                [[${'#' + (itemStat.index + 1)}]]
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <select th:id="'inputMaterial' + ${itemStat.index}" class="form-control select2" required th:field="${documentHeader.documentItems[__${itemStat.index}__].material}">
                                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                            <option th:each="material : ${materialsList}"
                                                                    th:value="${material.id}" th:text="${material.code + ' - ' + material.description}">option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemQuantity' + ${itemStat.index}" th:text="#{document.issue.material.quantity.select}">Country</label>
                                                            <input type="number" class="form-control" th:id="'inputItemQuantity' + ${itemStat.index}" th:placeholder="#{document.issue.material.quantity.select}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].quantity}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputMaterialMeasurementUnit' + ${itemStat.index}" th:text="#{document.issue.material.measurement.unit}">Country</label>
                                                            <input type="text" class="form-control" th:id="'inputMaterialMeasurementUnit' + ${itemStat.index}" th:placeholder="#{document.issue.material.measurement.unit}" readonly
                                                                   th:field="${documentHeader.documentItems[__${itemStat.index}__].material.measurementUnit}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputMaterialPrice' + ${itemStat.index}" th:text="#{document.issue.material.price}">Price</label>
                                                            <input type="text" class="form-control" th:id="'inputMaterialPrice' + ${itemStat.index}" th:placeholder="#{document.issue.material.price}" readonly th:field="${documentHeader.documentItems[__${itemStat.index}__].material.retailPrice}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group" th:with="vatCategory=${documentHeader.documentItems[__${itemStat.index}__].material.vatCategory}">
                                                            <label th:for="'inputVatCategory' + ${itemStat.index}" th:text="#{document.issue.material.vat.category}">Price</label>
                                                            <input type="text" class="form-control" th:id="'inputVatCategory' + ${itemStat.index}" th:placeholder="#{document.issue.material.vat.category}" readonly
                                                                   th:value="${vatCategory != null ? vatCategory.value : null}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputDiscountValue' + ${itemStat.index}" th:text="#{document.issue.discount}">Country</label>
                                                            <input type="number" step=".01" class="form-control" th:id="'inputDiscountValue' + ${itemStat.index}" th:placeholder="#{document.issue.discount}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].discountValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemNetValue' + ${itemStat.index}" th:text="#{document.issue.item.net.value}">Net</label>
                                                            <input type="number" step=".01" class="form-control item-net-value" th:id="'inputItemNetValue' + ${itemStat.index}" readonly th:field="${documentHeader.documentItems[__${itemStat.index}__].netValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemVatValue' + ${itemStat.index}" th:text="#{document.issue.item.vat.value}">Vat</label>
                                                            <input type="number" step=".01" class="form-control item-vat-value" th:id="'inputItemVatValue' + ${itemStat.index}" readonly th:field="${documentHeader.documentItems[__${itemStat.index}__].vatValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemFinalValue' + ${itemStat.index}" th:text="#{document.issue.item.final.value}">Final Value</label>
                                                            <input type="text" class="form-control item-final-value" th:id="'inputItemFinalValue' + ${itemStat.index}" th:placeholder="#{document.issue.item.final.value}" readonly th:field="${documentHeader.documentItems[__${itemStat.index}__].finalValue}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <button th:if="${documentHeader.documentItems.size != 1}" type="button" name="removeItem" class="btn btn-sm bg-red" th:value="${itemStat.index}"><i class="fas fa-trash"></i></button>
                                                    <button th:if="${(itemStat.index+1) == documentHeader.documentItems.size}" type="button" name="addItem" class="btn btn-sm btn-success" th:text="#{document.issue.add.item}">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Total  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.issue.total.title}">Total</h3>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="totalNetValue" th:text="#{document.issue.total.net.value}">Total Net value</label>
                                            <input type="number" class="form-control" id="totalNetValue" th:placeholder="#{document.issue.total.net.value}" readonly th:field="*{totalNetValue}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="totalVatValue" th:text="#{document.issue.total.vat.value}">Total Net value</label>
                                            <input type="number" class="form-control" id="totalVatValue" th:placeholder="#{document.issue.total.vat.value}" readonly th:field="*{totalVatValue}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="totalFinalValue" th:text="#{document.issue.total.final.value}">Total final value</label>
                                            <input type="number" class="form-control" id="totalFinalValue" th:placeholder="#{document.issue.total.final.value}" readonly th:field="*{totalFinalValue}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info float-right" th:text="#{save.btn}">Save</button>
                            </div>
                            <!-- /.card-footer -->

                        </div>

                    </form>


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block th:fragment="pageCustomScript">
    <script th:inline="javascript">
        var url = /*[[@{/}]]*/;
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });

        $('[data-mask]').inputmask()

        $("#inputDocumentSeries").change(function () {
            var lastNumber = Number($(this).find(":selected").data("documentserieslastnumber"));
            $("#inputDocumentNumber").val(lastNumber + 1);
        });

        $("#inputCounterPart").change(function () {
            if($(this).val() === '') {
                $("#counterPartEmail").val('');
                $("#counterPartName").val('');
                return
            }

            $.ajax({
                type : "GET",
                url : url + "api/trader/" + $(this).val(),
                success: function(data){
                    $("#counterPartEmail").val(data.email);
                    $("#counterPartName").val(data.name);
                }
            });
        });

        $( "body" ).on("change", '[id^=inputMaterial]', function( event ) {

            var $parentElement = $(this).parents('.card-body').first();
            var $materialPrice = $parentElement.find('[id^=inputMaterialPrice]');
            var $materialMeasurementUnit = $parentElement.find('[id^=inputMaterialMeasurementUnit]');
            var $itemFinalValue = $parentElement.find('[id^=inputItemFinalValue]');
            var $itemQuantity = $parentElement.find('[id^=inputItemQuantity]');
            var $vatCategory = $parentElement.find('[id^=inputVatCategory]');
            var $discountValue = $parentElement.find('[id^=inputDiscountValue]');
            var $itemNetValue = $parentElement.find('[id^=inputItemNetValue]');
            var $itemVatValue = $parentElement.find('[id^=inputItemVatValue]');

            $itemQuantity.val('');
            $discountValue.val('');
            $itemFinalValue.val('');
            $itemNetValue.val('');
            $itemVatValue.val('');

            if($(this).val() === '') {
                $materialPrice.val('');
                $materialMeasurementUnit.val('');
                $vatCategory.val('');
                return
            }

            $.ajax({
                type : "GET",
                url : url + "api/material/" + $(this).val(),
                success: function(data){
                    $materialPrice.val(data.retailPrice);
                    $materialMeasurementUnit.val(data.measurementUnit);
                    $vatCategory.val(data.vatPercent);
                }
            });

            calculateTotalValues();
        });

        $( "body" ).on("change", '[id^=inputItemQuantity], [id^=inputDiscountValue]', function( event ) {
            //Update the value
            $(this).val($(this).val());

            var $parentElement = $(this).parents('.card-body').first();
            var materialPrice = Number($parentElement.find('[id^=inputMaterialPrice]').val());
            var discountValue = Number($parentElement.find('[id^=inputDiscountValue]').val());
            var quantity = Number($parentElement.find('[id^=inputItemQuantity]').val());
            var vatPercent = Number($parentElement.find('[id^=inputVatCategory]').val());

            var netValue = Number(formatToAmount(materialPrice * quantity - discountValue));
            var vatValue = Number(formatToAmount(netValue * (vatPercent / 100)));
            var finalValue = Number(formatToAmount(netValue + vatValue));
            $parentElement.find('[id^=inputItemNetValue]').val(netValue);
            $parentElement.find('[id^=inputItemVatValue]').val(vatValue);
            $parentElement.find('[id^=inputItemFinalValue]').val(finalValue);

            calculateTotalValues();
        });

        function calculateTotalValues () {
            var itemFinalValues = $('.item-final-value');
            var totalFinalValue = 0;
            for (var i = 0; i < itemFinalValues.length; i++) {
                totalFinalValue += Number(itemFinalValues[i].value);
            }
            $('#totalNetValue').val(calculateTotalClassValues('.item-net-value'));
            $('#totalVatValue').val(calculateTotalClassValues('.item-vat-value'));
            $('#totalFinalValue').val(calculateTotalClassValues('.item-final-value'));
        }

        function calculateTotalClassValues (className) {
            var valuesList = $(className);
            var sum = 0;
            for (var i = 0; i < valuesList.length; i++) {
                sum += Number(valuesList[i].value);
            }
            return formatToAmount(sum);
        }

        function formatToAmount (amount) {
            return (Math.round(amount * 100) / 100).toFixed(2)
        }

        // jQuery
        function replaceDocumentItems (html) {
            // Replace the <fieldset id="items"> with a new one returned by server.
            $('#documentItems').replaceWith($(html));
            calculateTotalValues()
        }

        $( "body" ).on("click", 'button[name="addItem"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&addItem';
            $.post('/document/item', data, replaceDocumentItems);
        });


        $( "body" ).on("click", 'button[name="removeItem"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&removeItem=' + $(this).val();
            $.post('/document/item', data, replaceDocumentItems);
        });

    </script>
</th:block>

</html>