<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:fragment="title" th:text="#{app.title} + ' | ' + #{document.issue.page.title}"></title>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" th:fragment="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" th:text="#{document.issue.page.title}">Document</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div th:if="${modelError}" class="alert alert-danger alert-dismissible" th:inline="text">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class="icon fas fa-ban"></i> [[#{alert.message.title}]]</h5>
                        [[${modelError}]]
                    </div>

                    <!-- Horizontal Form -->
                    <form id="createForm" class="form-horizontal" th:action="@{/document/receive/save}" th:object="${documentHeader}" method="post">
                        <input type="hidden" th:field="*{id}" id="documentHeaderid">

                        <!-- Invoice Info  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.add.invoice.details}">Invoice</h3>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label th:for="inputDocumentCustomId" th:text="#{document.add.document.custom.id}">Custom Id</label>
                                            <input type="text" class="form-control" th:id="inputDocumentCustomId" th:placeholder="#{document.add.document.custom.id}" th:field="*{documentCustomId}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:text="#{document.add.date} + '*'">Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask th:field="*{date}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputPaymentMethod" th:text="#{document.add.payment.method}  + '*'">Payment Method</label>
                                            <select id="inputPaymentMethod" class="form-control select2" required th:field="*{paymentMethod}">
                                                <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                <option th:each="paymentMethod : ${T(gr.aueb.dmst.simplinvoice.enums.DocumentPaymentMethod).values()}"
                                                        th:value="${paymentMethod}" th:text="#{'payment.method.' + ${paymentMethod.name()}}">option 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputVatExemptionType" th:text="#{document.add.vat.exemption.type}">Payment Method</label>
                                            <select id="inputVatExemptionType" class="form-control select2" th:field="*{vatExemptionType}">
                                                <option th:value="${null}" th:text="#{document.add.vat.exemption.type.none}"></option>
                                                <option th:each="vatExemptionType : ${T(gr.aueb.dmst.simplinvoice.enums.VatExemptionType).values()}"
                                                        th:value="${vatExemptionType}" th:text="#{'aade.vat.exemption.' + ${vatExemptionType.name()}}">option 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label th:for="inputCurrency" th:text="#{document.add.currency}">Currency</label>
                                            <input type="text" id="inputCurrency" class="form-control" maxlength="3" required th:field="*{currency}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputDocumentNotes" class="col-sm-2 col-form-label" th:text="#{document.add.notes}">Notes</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputDocumentNotes" rows="3" th:placeholder="#{document.add.notes}" th:field="*{notes}"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Taxes  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.add.taxes}">Taxes</h3>
                            </div>

                            <div class="card-body" id="documentTaxes">
                                <div class="row d-flex align-items-stretch">
                                    <button th:if="${documentHeader.documentTaxes.size == 0}" type="button" name="addTax" class="btn btn-sm btn-success" th:text="#{document.add.taxes.add}">Add</button>

                                    <div class="col-12 align-items-stretch document-tax" th:each="documentTax, itemStat: ${documentHeader.documentTaxes}">
                                        <div class="card bg-light">
                                            <div class="card-header text-muted border-bottom-0" th:inline="text">
                                                [[${'#' + (itemStat.index + 1)}]]
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <select th:id="'inputTaxType' + ${itemStat.index}" class="form-control" required th:with="documentTaxToCheck=${documentHeader.documentTaxes[__${itemStat.index}__]?.type?.type}">
                                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                            <option th:each="taxType : ${T(gr.aueb.dmst.simplinvoice.enums.AadeDocumentTaxCategory$AadeDocumentTaxType).values()}"
                                                                    th:selected="${taxType.equals(documentTaxToCheck)}"
                                                                    th:value="${taxType}" th:text="#{'aade.tax.type.' + ${taxType}}">option 1</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select th:id="'inputTaxCategory' + ${itemStat.index}" class="form-control select2" required th:field="${documentHeader.documentTaxes[__${itemStat.index}__].type}">
                                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                            <option th:each="taxCategory : ${T(gr.aueb.dmst.simplinvoice.enums.AadeDocumentTaxCategory).values()}"
                                                                    th:attr="data-taxCategoryValue=${taxCategory.percent},
                                                                             data-type=${taxCategory.type}"
                                                                    th:value="${taxCategory}" th:text="#{'aade.tax.category.' + ${taxCategory}}">option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label th:for="'inputTaxAmount' + ${itemStat.index}" class="col-sm-2 col-form-label" th:text="#{document.add.taxes.amount.field}">Amount</label>
                                                    <div class="col-sm-6">
                                                        <input type="number" step=".01" class="form-control tax-value" th:id="'inputTaxAmount' + ${itemStat.index}" th:placeholder="#{document.add.taxes.amount.field}" th:field="${documentHeader.documentTaxes[__${itemStat.index}__].amount}">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <button type="button" name="removeTax" class="btn btn-sm bg-red" th:value="${itemStat.index}"><i class="fas fa-trash"></i></button>
                                                    <button th:if="${(itemStat.index+1) == documentHeader.documentTaxes.size}" type="button" name="addTax" class="btn btn-sm btn-success" th:text="#{document.add.taxes.add}">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Counterpart  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.counterpart.details}">Counterpart</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <select id="inputCounterPart" class="form-control select2" required th:field="*{counterPart}">
                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                            <option th:each="trader : ${tradersList}"
                                                    th:value="${trader.id}" th:text="${trader.code + ' - ' + trader.name}">option 1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="counterPartEmail" th:text="#{email.field}">Email</label>
                                            <input type="email" class="form-control" id="counterPartEmail" th:placeholder="#{email.field}" readonly th:value="${documentHeader.counterPart?.email}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="counterPartName" th:text="#{trader.name.field}">Name</label>
                                            <input type="text" class="form-control" id="counterPartName" th:placeholder="#{trader.name.field}" readonly th:value="${documentHeader.counterPart?.name}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Items  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.material.details}">Material</h3>
                            </div>

                            <div class="card-body" id="documentItems">
                                <div class="row d-flex align-items-stretch">
                                    <div class="col-12 align-items-stretch" th:each="documentItem, itemStat: ${documentHeader.documentItems}">
                                        <div class="card bg-light">
                                            <input type="hidden" th:value="${itemStat.index + 1}" th:name="|documentItems[__${itemStat.index}__].lineNumber|">
                                            <div class="card-header text-muted border-bottom-0" th:inline="text">
                                                [[${'#' + (itemStat.index + 1)}]]
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <select th:id="'inputMaterial' + ${itemStat.index}" class="form-control select2" required th:field="${documentHeader.documentItems[__${itemStat.index}__].material}">
                                                            <option th:value="${null}" th:text="#{dropdown.select}"></option>
                                                            <option th:each="material : ${materialsList}"
                                                                    th:value="${material.id}" th:text="${material.code + ' - ' + material.description}">option 1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemQuantity' + ${itemStat.index}" th:text="#{document.add.material.quantity.select} + '*'">Quantity</label>
                                                            <input type="number" step=".01" class="form-control" th:id="'inputItemQuantity' + ${itemStat.index}" th:placeholder="#{document.add.material.quantity.select}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].quantity}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label th:for="'inputMaterialMeasurementUnit' + ${itemStat.index}" th:text="#{document.add.material.measurement.unit}">Country</label>
                                                            <input type="text" class="form-control" th:id="'inputMaterialMeasurementUnit' + ${itemStat.index}" th:placeholder="#{document.add.material.measurement.unit}" readonly
                                                                   th:field="${documentHeader.documentItems[__${itemStat.index}__].material.measurementUnit}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group" th:with="vatCategory=${documentHeader.documentItems[__${itemStat.index}__].material.vatCategory}">
                                                            <label th:for="'inputVatCategory' + ${itemStat.index}" th:text="#{document.add.material.vat.category}">Price</label>
                                                            <input type="text" class="form-control" th:id="'inputVatCategory' + ${itemStat.index}" th:placeholder="#{document.add.material.vat.category}" readonly
                                                                   th:value="${vatCategory != null ? vatCategory.value : null}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputDiscountValue' + ${itemStat.index}" th:text="#{document.add.discount}">Discount</label>
                                                            <input type="number" step=".01" class="form-control" th:id="'inputDiscountValue' + ${itemStat.index}" th:placeholder="#{document.add.discount}" th:field="${documentHeader.documentItems[__${itemStat.index}__].discountValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemNetValue' + ${itemStat.index}" th:text="#{document.add.item.net.value}">Net</label>
                                                            <input type="number" step=".01" class="form-control item-net-value" th:id="'inputItemNetValue' + ${itemStat.index}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].netValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemVatValue' + ${itemStat.index}" th:text="#{document.add.item.vat.value}">Vat</label>
                                                            <input type="number" step=".01" class="form-control item-vat-value" th:id="'inputItemVatValue' + ${itemStat.index}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].vatValue}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label th:for="'inputItemFinalValue' + ${itemStat.index}" th:text="#{document.add.item.final.value}">Final Value</label>
                                                            <input type="number" step=".01" class="form-control item-final-value" th:id="'inputItemFinalValue' + ${itemStat.index}" th:placeholder="#{document.add.item.final.value}" required th:field="${documentHeader.documentItems[__${itemStat.index}__].finalValue}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <button th:if="${documentHeader.documentItems.size != 1}" type="button" name="removeItem" class="btn btn-sm bg-red" th:value="${itemStat.index}"><i class="fas fa-trash"></i></button>
                                                    <button th:if="${(itemStat.index+1) == documentHeader.documentItems.size}" type="button" name="addItem" class="btn btn-sm btn-success" th:text="#{document.add.add.item}">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Total  -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{document.add.total.title}">Total</h3>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="totalNetValue" th:text="#{document.add.total.net.value}">Total Net value</label>
                                            <input type="number" class="form-control" id="totalNetValue" th:placeholder="#{document.add.total.net.value}" required th:field="*{totalNetValue}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="totalVatValue" th:text="#{document.add.total.vat.value}">Total Net value</label>
                                            <input type="number" step=".01" class="form-control" id="totalVatValue" th:placeholder="#{document.add.total.vat.value}" required th:field="*{totalVatValue}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="totalTaxValue" th:text="#{document.add.total.tax.value}">Total Tax value</label>
                                            <input type="number" step=".01" class="form-control" id="totalTaxValue" th:placeholder="#{document.add.total.tax.value}" required th:field="*{totalTaxValue}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="totalFinalValue" th:text="#{document.add.total.final.value}">Total final value</label>
                                            <input type="number" step=".01" class="form-control" id="totalFinalValue" th:placeholder="#{document.add.total.final.value}" required th:field="*{totalFinalValue}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info float-right" th:text="#{save.btn}">Save</button>
                            </div>
                            <!-- /.card-footer -->

                        </div>

                    </form>


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block th:fragment="pageCustomScript">
    <script th:inline="javascript">
        var url = /*[[@{/}]]*/;
        var documentType = /*[[${T(gr.aueb.dmst.simplinvoice.enums.DocumentType).RECEIVED}]]*/
        var taxCategoryMap = /*[[${T(gr.aueb.dmst.simplinvoice.Constants).aadeDocumentTaxCategoryMap}]]*/;
        var taxCategoryTextMap = {};
        var taxCategoryPercentMap = {};

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });

        $('[data-mask]').inputmask()

        $("#inputCounterPart").change(function () {
            if($(this).val() === '') {
                $("#counterPartEmail").val('');
                $("#counterPartName").val('');
                return
            }

            $.ajax({
                type : "GET",
                url : url + "api/trader/" + $(this).val(),
                success: function(data){
                    $("#counterPartEmail").val(data.email);
                    $("#counterPartName").val(data.name);
                }
            });
        });

        $( "body" ).on("change", '[id^=inputTaxType], [id^=inputTaxCategory]', function( event ) {
            var $parentElement = $(this).parents('.card-body').first();
            var $inputTaxAmount = $parentElement.find('[id^=inputTaxAmount]');
            $inputTaxAmount.val('');



            initiateDocumentTax($parentElement)
        });

        $( "body" ).on("change", '[id^=inputMaterial]', function( event ) {

            var $parentElement = $(this).parents('.card-body').first();
            var $materialMeasurementUnit = $parentElement.find('[id^=inputMaterialMeasurementUnit]');
            var $itemQuantity = $parentElement.find('[id^=inputItemQuantity]');
            var $vatCategory = $parentElement.find('[id^=inputVatCategory]');
            var $discountValue = $parentElement.find('[id^=inputDiscountValue]');
            var $itemNetValue = $parentElement.find('[id^=inputItemNetValue]');
            var $itemVatValue = $parentElement.find('[id^=inputItemVatValue]');
            var $itemFinalValue = $parentElement.find('[id^=inputItemFinalValue]');

            $itemQuantity.val('');
            $discountValue.val('');
            $itemNetValue.val('');
            $itemVatValue.val('');
            $itemFinalValue.val('');

            if($(this).val() === '') {
                $materialMeasurementUnit.val('');
                $vatCategory.val('');
                return
            }

            $.ajax({
                type : "GET",
                url : url + "api/material/" + $(this).val(),
                success: function(data){
                    $materialMeasurementUnit.val(data.measurementUnit);
                    $vatCategory.val(data.vatPercent);
                }
            });

            calculateTotalValues();
        });

        $( "body" ).on("change", '[id^=inputItemQuantity], [id^=inputDiscountValue], [id^=inputItemNetValue]', function( event ) {
            //Update the value
            $(this).val($(this).val());

            var $parentElement = $(this).parents('.card-body').first();
            var quantity = Number($parentElement.find('[id^=inputItemQuantity]').val());
            var vatPercent = Number($parentElement.find('[id^=inputVatCategory]').val());
            var discountValue = Number($parentElement.find('[id^=inputDiscountValue]').val());
            var netValue = Number($parentElement.find('[id^=inputItemNetValue]').val());

            var vatValue = Number(formatToAmount(netValue * (vatPercent / 100)));
            var finalValue = Number(formatToAmount(netValue + vatValue));
            $parentElement.find('[id^=inputItemVatValue]').val(vatValue);
            $parentElement.find('[id^=inputItemFinalValue]').val(finalValue);

            calculateTotalValues();
        });

        $( "body" ).on("change", '[id^=inputItemVatValue]', function( event ) {
            //Update the value
            $(this).val($(this).val());

            var $parentElement = $(this).parents('.card-body').first();
            var netValue = Number($parentElement.find('[id^=inputItemNetValue]').val());

            var vatValue = Number($(this).val());
            var finalValue = Number(formatToAmount(netValue + vatValue));
            $parentElement.find('[id^=inputItemFinalValue]').val(finalValue);

            calculateTotalValues();
        });

        $( "body" ).on("change", '.tax-value', function( event ) {
            calculateTotalValues();
        });

        function initiateDocumentTaxes() {
            var $documentTaxesElements = $('#documentTaxes').find('.document-tax');
            for (var i = 0; i < $documentTaxesElements.length; i++) {
                initiateDocumentTax($documentTaxesElements[i])
            }
        }

        function initiateDocumentTax(parentElement) {
            var $taxTypeDropdown = $(parentElement).find('[id^=inputTaxType]');
            var $taxCategoryDropdown = $(parentElement).find('[id^=inputTaxCategory]');

            //Initiate the map which holds the messages from UI list
            if(Object.keys(taxCategoryTextMap).length === 0) {
                $taxCategoryDropdown.children('option').each(function() {
                    taxCategoryTextMap[$(this).val()] = $(this).text();
                });
            }

            if(Object.keys(taxCategoryPercentMap).length === 0) {
                $taxCategoryDropdown.children('option').each(function() {
                    taxCategoryPercentMap[$(this).val()] = $(this).data('taxcategoryvalue');
                });
            }

            var $assignedTaxType = $taxTypeDropdown.children('option:selected');
            var $assignedTaxCategory = $taxCategoryDropdown.children('option:selected');

            $taxCategoryDropdown.empty();
            $taxCategoryDropdown.append($("<option></option>")
                .attr("value", null).text(taxCategoryTextMap['']));

            var type = $assignedTaxCategory.data('type') != null ? $assignedTaxCategory.data('type') : $assignedTaxType.val();

            $taxTypeDropdown.children('option[value="' + type + '"]').attr('selected','selected');

            $.each(taxCategoryMap[type], function(index, value) {
                if($assignedTaxCategory.val() === value) {
                    $taxCategoryDropdown.append($("<option></option>")
                        .attr("value", value).attr('selected', 'selected').text(taxCategoryTextMap[value]));
                } else {
                    $taxCategoryDropdown.append($("<option></option>")
                        .attr("value", value).text(taxCategoryTextMap[value]));
                }
            });

            calculateTotalValues();
        }

        function calculateTotalValues () {
            var totalFinalValue = 0;
            var totalNetValue = calculateTotalClassValues('.item-net-value');
            assignTaxValues(totalNetValue);
            var includeVat = $('#inputVatExemptionType').val() === '';

            var totalTaxValue = calculateTotalClassValues('.tax-value');
            var totalVatValue = calculateTotalClassValues('.item-vat-value');
            totalFinalValue = Number(totalNetValue) - Number(totalTaxValue)
            if(includeVat)
                totalFinalValue += Number(totalVatValue);

            $('#totalNetValue').val(totalNetValue);
            $('#totalVatValue').val(totalVatValue);
            $('#totalTaxValue').val(totalTaxValue);
            $('#totalFinalValue').val(totalFinalValue);
        }

        function calculateTotalClassValues (className) {
            var valuesList = $(className);
            var sum = 0;
            for (var i = 0; i < valuesList.length; i++) {
                sum += Number(valuesList[i].value);
            }
            return formatToAmount(sum);
        }

        function assignTaxValues (totalNetValue) {
            var taxElements = $('.tax-value');

            for (var i = 0; i < taxElements.length; i++) {
                var parentElement = $(taxElements[i]).parents('.card-body').first();
                var taxCategory = $(parentElement).find('[id^=inputTaxCategory]').val();
                var taxPercent = taxCategoryPercentMap[taxCategory];
                if(taxPercent != null && $(taxElements[i]).val() === '') {
                    var taxValue = formatToAmount((Number(taxPercent)/100) * totalNetValue);
                    $(taxElements[i]).val(taxValue)
                }
            }
        }

        function formatToAmount (amount) {
            return (Math.round(amount * 100) / 100).toFixed(2)
        }

        function replaceDocumentItems (html) {
            $('#documentItems').replaceWith($(html));
            $('.select2').select2();
            calculateTotalValues()
        }

        function replaceDocumentTaxes (html) {
            $('#documentTaxes').replaceWith($(html));
            $('.select2').select2();
            initiateDocumentTaxes()
            calculateTotalValues()
        }

        $( "body" ).on("click", 'button[name="addItem"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&addItem';
            data += '&documentType=' + documentType;
            $.post('/document/item', data, replaceDocumentItems);
        });

        $( "body" ).on("click", 'button[name="removeItem"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&removeItem=' + $(this).val();
            data += '&documentType=' + documentType;
            $.post('/document/item', data, replaceDocumentItems);
        });

        $( "body" ).on("click", 'button[name="addTax"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&addTax';
            data += '&documentType=' + documentType;
            $.post('/document/tax', data, replaceDocumentTaxes);
        });

        $( "body" ).on("click", 'button[name="removeTax"]', function( event ) {
            event.preventDefault();
            var data = $('form').serialize();
            data += '&removeTax=' + $(this).val();
            data += '&documentType=' + documentType;
            $.post('/document/tax', data, replaceDocumentTaxes);
        });

        $('#inputVatExemptionType').change(function () {
            calculateTotalValues()
        });

    </script>
</th:block>

</html>