<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title th:fragment="title" th:text="#{app.title} + ' | ' +
                                        (${type == T(gr.aueb.dmst.simplinvoice.enums.TraderType).CUSTOMER} ? #{traders.list.customers.page.title} : #{traders.list.suppliers.page.title})"></title>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" th:fragment="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${type == T(gr.aueb.dmst.simplinvoice.enums.TraderType).CUSTOMER} ? #{traders.list.customers.page.title} : #{traders.list.suppliers.page.title}">DataTables</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" th:text="#{list.all}"></h3>
                                <div class="card-tools">
                                    <a class="btn btn-default btn-sm" th:href="@{/trader/(type=${type})}"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="tradersList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th th:text="#{trader.code.field}">Code</th>
                                            <th th:text="#{trader.name.field}">Name</th>
                                            <th th:text="#{afm.field}">Afm</th>
                                            <th th:text="#{email.field}">Email</th>
                                            <th th:text="#{country.field}">Country</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="trader, iStat: ${tradersList}">
                                            <td th:text="${trader.id}"></td>
                                            <td th:text="${trader.code}"></td>
                                            <td th:text="${trader.name}"></td>
                                            <td th:text="${trader.afm}"></td>
                                            <td th:text="${trader.email}"></td>
                                            <td th:text="${T(gr.aueb.dmst.simplinvoice.Constants).countries.get(trader.country)}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <th:block th:fragment="pageCustomScript">

        <script th:inline="javascript">
            var context = /*[[@{/trader/}]]*/ '';

            $(function () {
                $("#tradersList").DataTable({
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [{ extend: 'csvHtml5'}, { extend: 'excelHtml5'}],
                    "columnDefs": [
                        {
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": 1,
                            "render": function ( data, type, row, meta ) {
                                return '<a href="'+ context + row[0] +'">' + data + '</a>';
                        }
                    } ]
                }).buttons().container().appendTo('#tradersList_wrapper .col-md-6:eq(0)');
            });
        </script>

    </th:block>


</html>